@import "tailwindcss";



/* body {
  background: #000;
  overflow-y: scroll;

} */

h2 {
  font-family: "Chonburi", Sans-serif !important;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out forwards;
}


/* Smooth + rounded scrollbars */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 50px !important;
}


.scrollbar-thin::-webkit-scrollbar-track {
  background: #18181e;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #e7000b;
  border-radius: 10px;
}

.text-shadow-red {
  text-shadow: 1px 1px 0px #FA0505;
}

.text-shadow-lg-red {
  text-shadow: 2px 2px 6px #FA0505;
}

.text-shadow-none {
  text-shadow: none;
}

@keyframes fastFade {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  30% {
    opacity: 1;
    transform: translateY(4px);
  }

  60% {
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.animate-fastFade {
  animation: fastFade 0.9s infinite linear;
}

.animate-fastFade-delay {
  animation: fastFade 0.9s infinite linear 0.3s;
  /* half delay */
}

